  <!-- Navigation -->
  <nav class="navbar  navbar-default navbar-expand-lg navbar-dark fixed-top ">
  
      <a class="navbar-brand" href="#">KOORDYNATOR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="Toogleico"></span> Menu <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Why">Why Us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#testimonials">Testimonials</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
         <a class="btn nav-opt" *ngIf ="!_authserv.loggedIn()" routerLink="/login"> Login</a>
        <a class="btn nav-opt" *ngIf ="!_authserv.loggedIn()" routerLink="/signup">Sign up</a> 
        <a class="nav-link" style="cursor: pointer" *ngIf="_authserv.loggedIn()" (click)="_authserv.logoutUser()">Logout</a>
      </div>
   
  </nav>

<router-outlet></router-outlet>